<!DOCTYPE html>
<html>

<head>
    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link rel="stylesheet" href="./static/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="static/script.js"></script>
    <meta charset="UTF-8">
	<title>erasmusMadrid | Home</title>

</head>

<body>
	<div id="wrapper">
		<!--Cargar el header con los formularios de registro y login del header-footer.html-->
		<div id="load-header"></div>
		<div id="load-registry"></div>
		<div id="load-log"></div>
		<div id="load-event"></div>
		<div id="load-alert"></div>

		<div id="content">

			<div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
		    	<!-- Carousel indicators -->
		        <ol class="carousel-indicators">
		            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		            <li data-target="#myCarousel" data-slide-to="1"></li>
		            <li data-target="#myCarousel" data-slide-to="2"></li>
		            <li data-target="#myCarousel" data-slide-to="3"></li>
		            <li data-target="#myCarousel" data-slide-to="4"></li>
		        </ol>   
		       <!-- Carousel items -->
		        <div class="carousel-inner">
		        	<div class="active item">
		            	<div class="jumbotron" id="metropolis">
			                <div class="container">
			                    <h1>erasmusMadrid</h1>
			                    <p>Descubre, Comparte, Disfruta</p>
			                    <a href="listaEventos.html">¡Aprende más!</a>
			                </div>
			            </div>
		            </div>
		            <div class="item">
		        		<div class="jumbotron" id="palacio">
			                <div class="container">
			                    <h1>erasmusMadrid</h1>
			                    <p>Descubre, Comparte, Disfruta</p>
			                    <a href="listaEventos.html">¡Aprende más!</a>
			                </div>
			            </div>
		            </div>
		            <div class="item">
		            	<div class="jumbotron" id="ayuntamiento">
			                <div class="container">
			                    <h1>erasmusMadrid</h1>
			                    <p>Descubre, Comparte, Disfruta</p>
			                    <a href="listaEventos.html">¡Aprende más!</a>
			                </div>
			            </div>
			        </div>
		            <div class="item">
		            	<div class="jumbotron" id="plazamayor">
			                <div class="container">
			                    <h1>erasmusMadrid</h1>
			                    <p>Descubre, Comparte, Disfruta</p>
			                    <a href="listaEventos.html">¡Aprende más!</a>
			                </div>
			            </div>
		            </div>
		            <div class="item">
		            	<div class="jumbotron" id="skyline">
			                <div class="container">
			                    <h1>erasmusMadrid</h1>
			                    <p>Descubre, Comparte, Disfruta</p>
			                    <a href="listaEventos.html">¡Aprende más!</a>
			                </div>
			            </div>
		            </div>
		        </div>
		        <!-- Carousel nav -->
		        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
		            <span class="glyphicon glyphicon-chevron-left"></span>
		        </a>
		        <a class="carousel-control right" href="#myCarousel" data-slide="next">
		            <span class="glyphicon glyphicon-chevron-right"></span>
		        </a>
   			</div>
			<!--<div class="jumbotron">
			    <div class="container">
			        <h1>erasmusMadrid</h1>
			        <p>Descubre, Comparte, Disfruta</p>
			        <a href="listaEventos.html">Aprende más</a>
			    </div>
			</div>-->

			<div class="neighborhood-guides">
			    <div class="container">
			        <h2>Portal de eventos en Madrid</h2>

			        <p>Mantente atento de todas las actividades disponibles y actualizadas en todo momento en la ciudad de Madrid</p>
			 		<p>¿A qué estás esperando?</p>

			        <div class="row">
			            <div class="col-md-4">
			                <div class="thumbnail">
			                    <img src="./static/night.jpg">
			                    <h3>Vida nocturna</h3>
			                    <p>Deja que la noche te confunda</p>
			                    <p><a href="listaEventos.html"  id="Vida nocturna" class="toEventFilter">Fiestas sorprendentes</a></p>
			                </div>
			            </div>
			            <div class="col-md-4">
			                <div class="thumbnail">
			                    <img src="./static/Templo de Debod1.jpg">
			                     <h3>Turismo</h3>
			                    <p>Saca tu lado culto</p>
			                    <p><a href="listaEventos.html" id="Turismo" class="toEventFilter">Lugares turísticos</a></p>
			                </div>
			            </div>
			            <div class="col-md-4">
			                <div class="thumbnail">
			                    <img src="./static/tio-pepe.jpg">
			                    <h3>Gastronomía</h3>
			                    <p>Aprende de la dieta mediterránea</p>
			                    <p><a href="listaEventos.html" id="Gastronomía" class="toEventFilter">Tapas y cañas</a></p>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
		</div>

		<!--Cargar el footer del header-footer.html-->
		<div id="load-footer"></div>
	</div>
</body>
</html>
