<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.css">
    <link rel="stylesheet" href="css/ictacce.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/normalize.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/vendor/modernizr.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/vendor/jquery.cookie.js"></script>
    <script>
    $(document).foundation();//inicializacion de foundation
    </script>
    
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <meta charset="utf-8">
    <title>Login</title>
</head>
<body>
    <div id="wrapper">
        <!--Header-->
		<hr id="line"></hr>
			<div class="row">	
				<div class="large-6 columns">
					<h1 id="title">ICT-AccE</h1>
				</div>
				<div class="large-6 columns">
					<h1 id="title">Login</h1>
				</div>
			</div>
		<hr id="line"></hr>
        <br></br>
    <form data-abide="" name="project" id="project" method="POST" action="/next">
			<div class="row">
				<div class="small-6 small-centered columns">
					<label class="name"> User name:
					   <small>(required)</small>
					</label>
				    <input type="text" required="required" pattern="[a-zA-Z]+" size="8" maxlength="40" value="" tabindex="1" name="name", id="name"></input>
				    <small class="error" id="nameError">Name is required</small>
				</div>
			</div>

			<div class="row">
				<div class="small-6 small-centered columns">
					<label class="pass"> Password:
					<small>(required)</small>
					</label>
                    <input type="password" required="required" class="password form-control" id="password" name="password">
					<small class="error" id="passError">Password is required</small>		
				</div>
			</div>

			<div class="row">
				<div class="small-6 small-centered columns">
                    <a href="#" class="button-nav" id="log">Login</a>
                    <a href="#" class="button-nav" id="forgot">Forgot your user or password</a>
				</div>
			</div>
	</form>
    <br></br>
    <br></br>
    <br></br>

        <!--footer-->
		<hr id="line"></hr>
            <div class="row" id="container">
                <div class="small-9 small-centered columns">
                    <h1 id="title">ICT-AccE tool. User interface protoype</h1>
            </div>
            </div>
        <hr id="line"></hr>
    </div>
</body>
</html> 