
html, body { /* color de fondo del body*/
 background:#FFF5EE;
 box-sizing: none;}

#wrapper { /* color de fondo de toda la pantalla*/
  min-height: 100%;
  background-color: #FFF5EE;}

#line { /* creamos las dos lineas de la cabecera y el pie de pagina*/
 border:solid #00008B;
 border-width: 2px 0 0;
 clear: both;
 height: 0;
 margin: 1.25rem 0 1.1875rem; }

.typeLetter{
  font-family: sans-serif;
  /*font-weight: bold;*/
  color: #222;
}

#typeLetter{
  font-family: sans-serif;
  /*font-weight: bold;*/
  color: #222;
}

#typeLetter2{
  font-family: sans-serif;
  font-weight: bold;
  color: #222;
}

.typeLetter2{
  font-family: sans-serif;
  font-weight: bold;
  color: #222;
}

.myborder{ /* esto crea el borde para la cabecera o el pie de pagina*/
    border-style: solid;
    border-color: #00008B;}

#mybold { /* Cambia las letras de los roles*/
    font-family: sans-serif;
    font-size: 1.125rem;
    font-weight: bold;}

#title { /* color de los titulos de cada pagina*/
  color:#00008B;
  font-family: sans-serif;}

#container { /* posible opcion de pintar el pie de página*/
  background-color: lightgrey;}

.button-nav { /* Formato de los botones*/
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 6px;
  border-style: outset;
  border-width: 2px;
  font-family:  sans-serif;
  font-weight: bold;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2rem 1.0625rem 2rem;
  font-size: 1rem;
  background-color: #B2AAAA;
  border-color: #B2AAAA;
  color: #222;
  transition: background-color 300ms ease-out; }

button:hover, button:focus, a:hover, a:focus, .button-nav:hover, .button-nav:focus {
  color: white;
  background-color:mediumblue;
  line-height: none;}

#log:disabled, #saveandclose:disabled { /* desactiva los botones*/
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 6px;
  border-style: outset;
  border-width: 2px;
  font-family:  sans-serif;
  font-weight: bold;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2rem 1.0625rem 2rem;
  font-size: 1rem;
  background-color: lightgrey;
  border-color: lightgrey;
  color: #222;
  transition: background-color 300ms ease-out; }

#error2 {
  display: block;
  font-size: 0.75rem;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 1rem;
  margin-top: -1px;
  padding: 0.375rem 0.5625rem 0.5625rem;
  background: #f04124;
  color: #FFFFFF; }

#error3 {
  display: block;
  font-size: 0.75rem;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 1rem;
  margin-top: -1px;
  padding: 0.375rem 0.5625rem 0.5625rem;
  background: #f04124;
  color: #FFFFFF; }

.myaccordion {
  margin-bottom: 0; }

.myaccordion:before, .myaccordion:after {
  content: " ";
  display: table; }

.myaccordion:after {
  clear: both; }

.myaccordion .myaccordion-navigation, .myaccordion dd {
  display: block;
  margin-bottom: 0 !important; }

.myaccordion .myaccordion-navigation.active > a, .myaccordion dd.active > a {
  background: #B2AAAA;} 

.myaccordion .myaccordion-navigation > a, .myaccordion dd > a {
  background: #B2AAAA;
  color: #222;
  border-radius: 6px;
  border-style: outset;
  border-width: 2px;
  display: block;
  font-family:  sans-serif;
  border-color: lightgrey;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.375rem 0.5625rem 0.5625rem; }

.myaccordion .myaccordion-navigation > a:hover, .myaccordion dd > a:hover {
        background: mediumblue; 
        color: white; }
.myaccordion .myaccordion-navigation > .content, .myaccordion dd > .content {
      display: none;
      padding: 0.9375rem; }

.myaccordion .myaccordion-navigation > a:focus, .myaccordion dd > a:focus {
        background: mediumblue; 
        color: white; }
.myaccordion .myaccordion-navigation > .content.active, .myaccordion dd > .content.active {
        background: #FFF5EE;
        display: block; }